.card-view {
    border-radius: 1.5rem;
    background-color: var(--color-dark-tertiary);
    color: white;
    transition: all 0.4s ease;
    min-height: 510px !important;
}

.list-view {
    border-radius: 1.5rem;
    background-color: var(--color-dark-tertiary);
    color: white;
    transition: all 0.4s ease;
    padding: 0 !important;
}

.card-view:hover,
.list-view:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.card-img {
    position: relative;
    overflow: hidden;
}

.card-img img,
.list-view img {
    max-width: 100%;
    border-radius: 1.5rem 1.5rem 0 0 !important;
    object-fit: cover;
    transition: all 0.4s ease;
    display: block;
}

.list-view img {
    border-radius: 0 1.5rem 1.5rem 0 !important;
    width: auto !important;
    height: 100% !important;
    object-fit: cover !important;
}

.card-view:hover .card-img img {
    transform: scale(1.05);
    border-radius: 1.5rem 1.5rem 0 0 !important;
}

.list-view:hover .card-img img {
    transform: scale(1.05);
    border-radius: 0 1.5rem 1.5rem 0 !important;
}

.category-badge {
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 1;
    background-color: var(--color-dark-tertiary);
    padding: 8px;
    border-radius: 0.75rem;
    font-weight: bold;
}

.category-badge-list {
    background-color: var(--color-primary-opacity) !important;
    color: var(--color-primary);
    padding: 8px;
    border-radius: 0.75rem;
    font-weight: bold;
}

.card-content {
    padding: 1.25rem;
    padding-bottom: 0;
    color: var(--color-neutral);
}

.card-title {
    transition: all 0.4s ease;
}

.card-view:hover .card-title,
.list-view:hover .card-title {
    color: var(--color-primary) !important;
}

.card-footer {
    padding: 0 1.25rem 1.25rem 1.25rem;
    position: relative;
}

.author-avatar img {
    object-fit: cover;
    width: 50px !important;
    height: 50px !important;
    margin-left: 15px;
}

.author-name {
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
}

.author-role {
    font-weight: 400;
    font-size: 0.85rem;
    color: var(--color-neutral);
}

.footer-arrow {
    border: 2px solid var(--color-border-light);
    color: var(--color-primary);
    position: absolute;
    left: 46px;
    font-size: 1.2rem;
    font-weight: 100;
    top: 5px;
    padding: 0.4rem;
    background-color: rgb(255, 105, 0, 10%);
    transition: all 0.4s ease;
}

.list-view .footer-arrow {
    border: none;
    background-color: transparent;
    left: 20px;
    top: 5px;
}

.list-view .footer-arrow span {
    margin-left: 10px !important;
    transition: all 0.4s ease;
}

.card-view:hover .footer-arrow {
    color: white;
    background-color: rgb(255, 105, 0);
}

.list-view:hover .footer-arrow span {
    margin-left: 20px !important;
}