<div class="container-fluid bg-dark">
    <div class="d-md-flex justify-content-around py-5 text-white">
        <!-- FIRST COLUMN-->
        <div class="d-flex flex-column w-25">
            <!-- First Row In First Column-->
            <div class="d-flex align-items-center mb-4">
                <div
                    class="d-flex justify-content-center align-items-end btn-footer">
                    <span class="fw-bold fs-4 text-white">ع</span>
                </div>
                <span class="ms-3 fw-bold fs-4">عدسة</span>
            </div>
            <!-- Second Row In First Column-->
            <div>
                <p class="text-neutral">
                    مدونة متخصصة في فن التصوير الفوتوغرافي، نشارك معكم أسرار
                    المحترفين ونصائح عملية لتطوير مهاراتكم.
                </p>
            </div>
        </div>
        <div class="d-flex flex-column w-25">استكشف</div>
        <div class="d-flex flex-column w-25">التصنيفات</div>
        <div class="d-flex flex-column w-25">ابق علي اطلاع</div>
    </div>
</div>
