<nav class="bg-dark border-b border-color-border navbar-fixed" [class.scrolled]="isScrolled">
    <div class="container-fluid">
        <div class="d-flex justify-content-around align-items-center py-3">
            <!-- Logo Section -->
            <a routerLink="" class="d-flex align-items-center gap-3 text-decoration-none text-neutral">
                <div class="nav-logo">
                    <img src="/images/logo.png" alt="logo" title="adasa-logo" class="img-fluid object-fit-cover w-100 h-100">
                </div>
                <div class="d-flex flex-column me-3">
                    <span class="fw-bold text-xl">عدسة</span>
                    <span class="text-orange text-xs">عالم التصوير الفوتوغرافي</span>
                </div>
            </a>

            <!-- Center Navigation Menu -->
            <div class="d-none d-md-flex align-items-center">
                <div class="d-flex align-items-center bg-dark border border-color-border rounded-pill py-2 px-2">
                    <a class="text-neutral nav-link hover-effect text-sm px-3 py-1" routerLinkActive="active-link" routerLink="" [routerLinkActiveOptions]="{exact: true}">الرئيسية</a>
                    <a class="text-neutral nav-link hover-effect text-sm px-3 py-1" routerLinkActive="active-link" routerLink="blog">المدونة</a>
                    <a class="text-neutral nav-link hover-effect text-sm px-3 py-1" routerLinkActive="active-link" routerLink="about">من نحن</a>
                </div>
            </div>

            <!-- Search Section -->
            <div class="d-flex align-items-center">
                <div class="search-icon me-3">
                    <i class="fa-solid fa-magnifying-glass fa-lg text-neutral"></i>
                </div>
                <div class="bg-orange rounded-pill px-4 py-3 me-3 btn-hover">
                    <a class="text-white text-xl-center text-decoration-none fw-bold" href="#">إبدأ القراءة</a>
                </div>
            </div>
        </div>
    </div>
</nav>