<div class="section-label d-inline-flex align-items-center gap-2 rounded-pill">
    <span class="label-dot d-flex">
        <span
            class="position-absolute d-inline-flex bg-orange opacity-75 w-100 h-100 rounded-circle">
        </span>
    </span>
    <span class="label-dot d-flex">
        <span
            class="animate-ping position-absolute d-inline-flex bg-orange opacity-75 w-100 h-100 rounded-circle">
        </span>
    </span>
    <span class="label-text">
        {{labelTitle}}
    </span>
</div>
