.section-label {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    margin-bottom: 2rem;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: rgba(249, 115, 22, 0.102);
    border: 1px solid rgba(249, 115, 22, 0.3);
}

.label-dot {
    width: 0.5rem;
    height: 0.5rem;
    position: relative;
}

.animate-ping {
    animation: pulse 1s ease-in infinite;
    box-shadow: 0 0 0 0 rgba(249, 115, 22, 0.102);
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(249, 115, 22, 0.102);
        opacity: 0.0;
    }

    50% {
        transform: scale(1.2);
        box-shadow: 0 0 3px 3px rgba(249, 115, 22, 0.102);
        opacity: 0.4;
    }
}

.label-text {
    color: #d4d4d4;
}

.icon-sm {
    width: 16px;
    height: 16px;
}

.icon {
    width: 20px;
    height: 20px;
}

.icon-lg {
    width: 24px;
    height: 24px;
}